@charset "utf-8";

@mixin clear {
    &::after { content: ''; display: block; clear: both; }
}
@mixin ellipsis($wd) { width: $wd; overflow: hidden; display: block; text-overflow: ellipsis; white-space: nowrap; }
@mixin ellipsis2($wd, $ht, $line) { width: $wd; height: $ht; overflow: hidden; display: -webkit-box; -webkit-line-clamp: $line; -webkit-box-orient: vertical; text-overflow: ellipsis; }
// line-clamp: 몇 줄 뒤에 콘텐츠를 자를지 (IE 지원 안 됨)
// box-orient: 박스의 흐름 방향을 지정 (IE 지원 안 됨)

.box { @include clear; border: 1px solid #000; background-color: #eee;
    > div { float: left; }
}
.txt { @include ellipsis(200px); } // 가로 사이즈 지정 없이 includ시키면 작동 안 됨
.btn { @include ellipsis2(100px, 55px, 3); }